/Twist_ComprehensiveExome_targets_hg38.bed
/W01-102_hg38.bam
/W01-102_hg38.bam.bai
/mosdepth.ipynb
/mosdepth2.py
/mosdepth_coverage.py
/mosdepth_final.py
/mosdepth_from_bam.py
/new.py
/output
/output_file
/output_file1
/sample_code.py
/thresholds_bed_output
/trial4.py
/twist2_hg38.bed